<div class="row">
  <div class="col-sm-12">
    <h1><span ng-bind="name"></span> Stats</h1>
  </div>
</div>


  <form role="form">
    <div class="row">
      <div class="col-sm-12">
        <div class="input-group">
          <input type="text" class="form-control"
            id="summoner-search"
            ng-model="summoner-search"
            placeholder="Enter summoner name."
          >
          <div class="input-group-btn">
            <button class="btn btn-primary" type="submit" >Search</button>
          </div>
        </div>
      </div>
    </div>
  </form>


